* {
  margin: 0;
  padding: 0;
  font-family: 'GmarketSansMedium';
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 90px;
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  align-items: center;
}

.login-btn {
  text-decoration: none;
  color: black;
}

.search-bar {
  width: 80%;
  height: 60px;
  background: #FFFFFF;
  border: 0.5px solid #625B71;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 10px;
  margin-bottom: 30px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #625B71;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}
